In [3]:
x = [1,2,3,4,5,5]
a = sum(x)/len(x)
a

3.3333333333333335

In [5]:
x + 5

TypeError: can only concatenate list (not "int") to list

In [4]:
10+7-55*5/4

-51.75

In [6]:
sigma = (sum(x-a)) ** (0.5)

TypeError: unsupported operand type(s) for -: 'list' and 'float'

In [8]:
x = [1,2,3,4,5,5]
y = [4,5,6,7,8,9]

x*y

TypeError: can't multiply sequence by non-int of type 'list'

In [9]:
import numpy as np
np.multiply(x, y)

array([ 4, 10, 18, 28, 40, 45])

In [10]:
x,y = np.array(x), np.array(y)

In [11]:
x*y

array([ 4, 10, 18, 28, 40, 45])